@model IEnumerable<Grunch.Core.GroupOrder>
           
@{

}

@Html.ActionLink("Create", "Create", "Home", null, new { @class = "btn btn-default" })

<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <th>@group.Date</th>
                <th>@group.Description</th>
                <td align="right">
                @if (User.Identity.Name == group.Owner)
                {
                    @Html.ActionLink("Close", "Close", "Home", null, new { @class = "btn btn-warning" })
                }
                @Html.ActionLink("Place Order", "PlaceOrder", "Home", new { id = group.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
            foreach (var order in group.Orders)
            { 
                <tr>
                    <td>@order.Person</td>
                    <td>@order.OrderDescription</td>
                    <td align="right">@order.Amount.ToString("c")</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td align="right">@group.Orders.Sum(p => p.Amount).ToString("c")</td>
            </tr>
        }
    </tbody>
</table>
